<html>
    <head>
        <title>
            Midterm Skills Exam
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    </head>
        
    <body>
        <div class="regform">
            <form>
                <h1> Please Login </h1>
                <label>
                    <span> Email or Username: </span>
                    <input type="email"/>
                </label>
                <label>
                    <span> Password: </span>
                    <input type="password"/>
                </label>

                <button> Login </button>
                <h6> Don't have an account? Click below </h6>
                <button> Register </button>
            </form>
        </div>
    </body>
</html>